<!DOCTYPE html>
<html>
<head>
    <title>Experiencia Laboral</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Listado de Experiencia Laboral</h1>

    <a href="{% url 'experiencia_create' %}">Agregar nueva experiencia</a>
    <ul>
        {% for experiencia in experiencias %}
            <li>
                {{ experiencia.cargo }} en {{ experiencia.empresa }} ({{ experiencia.fecha_inicio }} - {{ experiencia.fecha_fin }})
                <a href="{% url 'experiencia_update' experiencia.pk %}">Editar</a> |
                <a href="{% url 'experiencia_delete' experiencia.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'estudio_list' %}">Ver Estudios</a>
</body>
</html>
